.navbar {
    background-color: #032174;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .navbar-text
  {
    color: white;
    font-size: 14px;
  }
  .container-fluid
  {
    font-size: 14px;
    width:100%; 
  }
  .navbar-toggler {
    font-size: 15px; 
  }
  .navbar-nav .nav-link {
   color: #ced4da;
        padding: 4px 15px; 
        font-size: 13px;
      }
      .navbar-nav .nav-link:hover {
        color: white; 
      }

      .navbar-nav .nav-link {
        border: 1px solid white;
        border-radius: 10.5px;
      }
  
      
      .navbar-nav .nav-link:not(.active) {
        border: none;
      }


  .navbar-nav .nav-link.active {
    border: 1px solid white;
    border-radius: 10.5px;
  }

  html {
    height: 100%;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
  }
  
  footer.footer {
    margin-top: auto; 
    background-color: #dee2e6;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
    text-align: center;
  }
  
  .footer .navbar-text {
    color: black;
    font-weight: bold;
  }
  
  .footer .navbar-text a {
    color: #0077b6;
    text-decoration: underline;
    font-weight: 550;
  }

#footerContainer {
  font-size: 14px;
  width: 100%;
  height: 45px;
  padding-top: 13px;
}
 
  