.container
{
    margin-top: 50px;
}
.searchTitle
{
  font-weight: normal;
  font-size: 27px;
}
.autocompleteclass
{
  border: none; 
  padding: 0;
  width:70%;
  border: none !important; 
  outline: none !important; 
  box-shadow: none !important;
}
.example-form
{
  width: 370px !important; 
}
#hourlyContainer
{
  margin-top: 10px;
  height:350px;
}
.example-input {
  background-color: transparent !important;
  border: none !important;
  padding: 5px;
  margin: 5px;
  font-size: 15px;
  flex: 1;
}
.hourlyRows
{
  margin-right: 0px;
}
.input-group-append button {
  margin-left: 10px;
}

.example-input:focus {
  outline: none !important;
}

.mb-3.rounded-pill.border {
    border-color: #023e8a !important;
    border-width: 2.5px !important;
}
.btn.btn-outline-secondary.border-0 i {
    color: grey; 
  }


.btn.btn-outline-secondary.border-0:focus,
.btn.btn-outline-secondary.border-0:hover {
  background-color: transparent; 
}

.buttonSearch
{
  padding-right:0px;
  padding-left:20px;
}
.buttonClear
{
  padding-left: 10px;
}
.form-control:focus {
    box-shadow: none;
    background-color: transparent; 
    border: none;
  }
  .input-group.mb-3 {
    margin: 0 !important;
    padding: 0 !important;
  }
  
  .input-group.mb-3 input {
    margin: 0 !important;
    padding: 0 !important;
  }
  .custom-alert {
    padding: 0.75rem 1.25rem !important; 
    font-size: 12px !important; 
    line-height: 1 !important; 
    max-width: 70% !important; 
    margin: 60px auto !important;
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-top: 20px;
    color: black;
  }


  .logo {
    width: 18%;
  }

#mainContainer
{
  margin-top: 5px;
}
 
#secondMainContainer
{
  margin-top: 0px;
}
  .market-status {
    font-size: 10px; 
    font-weight: bold; 
    margin-top:-5px;
  }

  
  .market-open {
    color: green; 
  }
  
  .market-closed {
    color: red; 
  }
  .custom-star-button {
    font-size: 15px; 
    padding: 2px 5px; 
  }
  .custom-buy-button {
    height: 35px;
    min-width: 60px;
    font-size: 14px;    
}

.custom-buy-button {
  margin-bottom: 5px; 
}
.container .buttonContainer
{
  margin-top: 0px !important;
}
.msgerror
{
  font-size: 14px;
}

#containerChart {
  margin-top: 15px;
  margin-bottom: 10px;
}
.centerChart
{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  
}

.star-button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  width: 30px; 
  height: 30px; 
  outline: none; 
}

.star-icon {
  width: 100%; 
  height: 20px; 
  margin-top: -5px;
}

.star-button.active .star-icon {
  stroke: #ffb703; 
}
.details-container p {
  margin-bottom: 0;
  font-size: 12px;
  margin-left:6%;
}
.details-container
{
  margin-top: 25px;
}



.company-container
{
 margin-top: 15px;
 font-size: 13px;
 margin-bottom: 2px;
 margin-left:25%; 
}
.company-container p{
  font-size: 12px;
}
.company-container a{
  font-size: 12px;
}


#newsSummary, #newsUrl
{
  font-size: 12px;
}

#shareContainer
{
  border: 1px solid #ced4da; 
  border-radius: 10px;
  margin-top: 40px;
}
#shareText
{
  margin-left: 15px;
  margin-top: 15px;
  font-size: 12px;
}
.alert-box {
  margin: 0 auto;
  margin-top: 20px;
  height: 40px;
  padding: 8px;
  font-size: 14px;
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
}

.container-fluid .alert-dismissible .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 13px;
  font-size: 12px;
}

.modal-body p{
  margin-bottom: 0px;
}
.modal-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close {
  border: none; 
  background-color: transparent; 
  text-decoration: underline; 
  cursor: pointer;
}

.close span {
  color: #0077b6; 
}
.modal-footer {
  max-height: 50px; 
}
.modal-footer .btn-primary
{
    margin-top: -5px;
    width:45px;
    height: 30px; 
    padding: 0.2rem 0.5rem; 
    font-size: 14px; 
}
.modal-body .close {
  margin-top: -10px;
  border: none; 
  background-color: transparent; 
  text-decoration: underline; 
}
.modal-body .close span{
  color: #0077b6; 
}
.caption-top {
  caption-side: top;
  text-align: center;
  color: black;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  font-size: 20px;
}
.table-no-border th, .table-no-border td {
  border: none;
  border-bottom: 1px solid #ced4da;
  font-size: 12px;
}

  .table-responsive-custom {
    margin: 0 auto; 
  }


#containers {
  display: flex;
  justify-content: center;
  align-items: center;
}

#recommendationContainer, #earningContainer {
  box-sizing: border-box;
  padding: 15px;
  padding-top: 10px;
}

.container .card-body .card-title
{
  font-size: 14px;
  text-align: center;
}

.text-blue
{
  color:#023e8a;
}


.tableStyles
{
  padding-left: 35px;
}

.twoCharts
{
  margin-top: 0px;
}

  body{
 margin-bottom: 0px;
 padding-bottom: 0px;
  }
  
 .parseWord
 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  
 } 
 .overflow-hidden-tab .mat-tab-body.mat-mdc-tab-body.mat-tab-body-active {
  overflow: hidden !important;
}
.overflow-hidden-tab div .mat-mdc-tab-body-content
{
  overflow: hidden !important;
}
.overflow-hidden-tab .centerChart {
  display: flex;
  justify-content: center;
}

.chat-container {
  .input-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    border: 1px solid #ccc; 
    border-radius: 0.375rem; 
    padding: 0.5rem; 
    margin-bottom: 1.5rem; 
    background-color: #fff; 
    
    .form-control {
      border: none; 
      border-radius: 0.375rem 0 0 0.375rem; 
      padding: 0.5rem; 
      flex-grow: 1; 
    }

    button.btn-primary {
      background-color: #032174;
      border: none;
      color: white;
      border-radius: 0 0.375rem 0.375rem 0; 
      padding: 0.5rem 1rem;
      margin-left: 0.5rem; 
      
      &:hover {
        background-color: #021a4a;
      }
    }
  }

  .ai-response {
    background-color: #f8f9fa; 
    border-radius: 0.375rem;
    padding: 1rem;
  }

  h4.mb-2 {
    text-align: center;
  }

  p.mb-6 {
    text-align: left !important
  }

  .loading-message {
    margin-top: 1rem;
  }
}
